@model Orev.Models.Topic

@{
    ViewBag.Title = "Index";
}

<h2>Judging topic "@Html.DisplayFor(model => model.Title)"</h2>

<fieldset>
    <legend>Topic </legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Narrator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Narrator)
    </div>

    <div class="display-label">@Html.DisplayFor(model => model.Language)</div>
</fieldset>

<p>@Html.ValidationSummary()</p>

@if (ViewBag.Corpus != null)
{
<div id="judgingContainer">
<input type="button" id="relevantBtn" value="Yes, it is relevant" />
<input type="button" id="irrelevantBtn" value="No, it is off topic" />

<div>
<iframe name="documentViewer" id="documentViewer" src=""></iframe>
</div>

</div>

    <script type="text/javascript" language="javascript">
        var corpusId = '@ViewBag.CorpusId';
        //var corpusBaseUrl = '@ViewBag.CorpusUrl';
        var topicId = '@ViewBag.TopicId';
        var currentDocumentId = '';
        
        function handleResponse(result)
        {
            if (result.corpusDone)
            {
                $('#documentViewer').attr("src","");
                $('#judgingContainer').hide();
                alert("done with this corpus");
            }
            else
            {
                currentDocumentId = result.nextDoc;
                $('#documentViewer').attr("src", corpusBaseUrl + currentDocumentId);
            }
        }
    
        function saveJudgment(docId, jdgmnt) {
            $.ajax({
                type: "POST",
                url: "/Judge/SaveJudgment",
                data: { 'topicId': topicId, 'corpusId': corpusId, 'docId': docId, 'judgment': jdgmnt },
                dataType: "json",
                async: true,
                cache: false,
                success: function(jsonData) {
                    handleResponse(jsonData);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error while trying to save judgment: " + textStatus);
                }
            });
        }

        $(document).ready(function () {
            saveJudgment('', false);
            
            $("#relevantBtn").click(function(e) {
                saveJudgment(currentDocumentId, true);
            });
            
            $("#irrelevantBtn").click(function(e) {
                saveJudgment(currentDocumentId, false);
            });
            
        });
    </script>
}