@model IEnumerable<Orev.Models.Topic>

@{
    ViewBag.Title = "SelectTopic";
}

<h2>Select a topic to judge with</h2>

<p>
    @Html.ActionLink("Create New Topic", "Add", "Topics")
</p>

<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Narrator
        </th>
        <th>
            Language
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Narrator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.ActionLink("Start Judging", "Index", new { topicId=item.Id.ToIntId(), lang = item.Language })
        </td>
    </tr>
}

</table>
